<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Menu principal</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Visibilidad de unidades </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Integración de unidades </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <select class="form-select" aria-label="Default select example">
    <option selected>Seleccione una opción</option>
    <option value="1">Placas</option>
    <option value="2">No. Economico</option>
  </select>