<p>login works!</p>
<p>login works!</p>
<p>login works!</p>
<p>login works!</p>
<p>login works!</p>
<p>login works!</p>
<p>login works!</p>
<p>login works!</p>
<p>login works!</p>
<p>login works!</p>
<p>login works!</p>
<p>login works!</p>
<p>login works!</p>
<p>login works!</p>
<p>login works!</p>
<p>login works!</p>
<p>login works!</p>
<p *ngIf="bandera">{{ cosa }}</p>
<tr *ngFor="let sueldo of sueldos">
    <td *ngIf="sueldo!=1">{{sueldo}}</td>
</tr>
<a routerLink="visibilidadGPS"> IR ADONDE</a>
